<div class="new-character-intro">
	<div><h3>Burn the Heretic. Kill the Mutant. Purge the Unclean.</h3></div>
	<div>
		<p>
			In Dark Heresy, you take on the role of an agent of the Imperial Inquisition tasked with rooting out and sometimes destroying the enemies of mankind. You have been drafted into the infamous <i>Ordo Hereticus</i>, the division of the Inquisition responsible for eliminating all of those that have turned away from the God-Emperor's light. Your primary duty will be to find these Chaos cults and heretics, though sometimes you will assist with investigations involving aliens or demons as well.
		</p>
		<p>
			There are many options for your character. Dark Heresy places a strong emphasis on roleplaying and investigation, but your team will face combat situations as well. This guide will walk you through the steps of character creation.
		</p>
	</div>
	<div class="new-character-nav">
		<button ng-click="continue()">continue</button>
	</div>
</div>

