<%= form_for(@homeworld) do |f| %>
  <% if @homeworld.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homeworld.errors.count, "error") %> prohibited this homeworld from being saved:</h2>

      <ul>
      <% @homeworld.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
