<%= form_for(@player_character) do |f| %>
  <% if @player_character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_character.errors.count, "error") %> prohibited this player_character from being saved:</h2>

      <ul>
      <% @player_character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
