<h1>Listing player_characters</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @player_characters.each do |player_character| %>
      <tr>
        <td><%= link_to 'Show', player_character %></td>
        <td><%= link_to 'Edit', edit_player_character_path(player_character) %></td>
        <td><%= link_to 'Destroy', player_character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player character', new_player_character_path %>
