$gold: #D2BB89;
$paper-1: #F3F2EF;
$paper-2: #C6BFB5;
$paper-grey: #CAC5CB;
$paper-alt-1: #F3F4E4;
$paper-alt-2: #DCDDCD;
$sidebar-primary: #474548;
$sidebar-2: #36312E;
$paper-alt-2-1: #D2CFCA;
$paper-alt-2-2: #CAC5BA;
$alt-red-2: #693736;
$sidebar-alt-1: #504546;
$sidebar-alt-2: #3E393F;
$sidebar-alt-3: #AA9C9C;
$gold-alt: #C7A76E;
$red-cover-2: #DF2625;
$red-cover-3: #69160F;


$grey-1:#6B6F71;
$grey-2:#B3B3B3;
$grey-3:#E6E6E6;
